/* OPTION TRACK BUTTON*/
#OptionButtonOne{
  -fx-background-color: #203356;
  -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 10, 0.0 , 0 , 1 );
}

#OptionButtonTwo{
  -fx-background-color: #203356;
  -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 10, 0.0 , 0 , 1 );
}

#OptionButtonThree{
  -fx-background-color: #203356;
  -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 10, 0.0 , 0 , 1 );
}

/*TEXT*/
#OptionText{
  -fx-font-family: "Verdana";
  -fx-font-weight: bold;
  -fx-fill: white;
  -fx-stroke: #7080A0;
  -fx-stroke-width: 3;
  -fx-font-size: 60px;
  -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 10, 0.0 , 0 , 1 );
}

/*BACKGROUND*/
#OptionBorder{
  -fx-background-image: url("background.png");
  -fx-background-size: cover;
  -fx-background-repeat: no-repeat;
  -fx-background-position: center;
}